astroid==2.3.2
autopep8==1.4.4
-e git://github.com/boto/botocore.git@73725a4fe3b336c38bf896e2de3809db83cbf4f5#egg=botocore
certifi==2019.9.11
chardet==3.0.4
databases==0.2.5
docutils==0.15.2
entrypoints==0.3
fire==0.2.1
flake8==3.7.9
idna==2.8
isort==4.3.21
-e git://github.com/boto/jmespath.git@0d5762b9b28c2e22b6173e6f74859b40545f3fe2#egg=jmespath
lazy-object-proxy==1.4.3
mccabe==0.6.1
mock==1.3.0
nose==1.3.3
pbr==5.4.3
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.4.3
python-dateutil==2.8.0
requests==2.22.0
-e git://github.com/boto/s3transfer.git@0c7a841085c0a5466cb77c12a7806aceb468d6b6#egg=s3transfer
six==1.12.0
SQLAlchemy==1.3.10
termcolor==1.1.0
typed-ast==1.4.0
urllib3==1.25.6
wrapt==1.11.2
yapf==0.28.0
